# Virtual Environment
venv/
env/
ENV/

# Node.js
node_modules/
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build/
dist/
frontend/build/

# Environment variables
.env
.env.*

# Logs and Caches
*.log
*.pack
.pytest_cache/
__pycache__/
.eslintcache
frontend/node_modules/.cache/
.git-error-*

# Database
*.db
*.db-shm
*.db-wal

# Data samples
data/samples/
